.header {
    justify-content: grid;
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    transition: background-color 0.2s ease-in-out;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.header__right {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.active {
    background-color: rgb(113, 133, 118);
}
